# private keys
credentials.py

# folders
__pycache__

# ec2 script
docs/script.txt

# .DS_Store
.DS_Store
docs/.DS_Store
docs/images/.DS_Store

# Twitter Search
twitter-search.py

# notebook
twitter-analysis.ipynb

.github/ISSUE_TEMPLATE
